/* reset */
button {
  all: unset;
}

.selectTrigger {
  display: inline-flex;
  gap: 7.69rem;
  border: 1px solid var(--color-dark-100);
  border-radius: 0.125rem;

  &:hover {
    background: var(--color-dark-500);
  }

  .selectIcon {
    color: var(--color-light-100);
  }
}

.selectContent {
  overflow: hidden;
  border-radius: 0 0 0.125rem 0.125rem;

  .selectViewport {
    margin-top: 25px;

    .selectItem {
      all: unset;

      user-select: none;

      display: flex;
      align-items: center;

      height: 25px;

      border-radius: 3px;

      &:hover {
        background-color: #2f68cc;
      }
    }
  }

  .selectScrollButton {
    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;

    color: var(--violet-11);
  }
}
