.listBox {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 13.125rem;

  button {
    all: unset;
  }

  .trigger {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.37rem 0.75rem;

    border: 1px solid var(--color-dark-100);
    border-radius: 0.125rem;

    &[data-headlessui-state='open'] {
      border-radius: 0.125rem 0.125rem 0 0;

      .arrow {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: var(--color-dark-500);
    }

    &:focus {
      padding: 0.3075rem 0.6875rem;
      border: 2px solid var(--color-info-700);
    }
  }

  .disabledTrigger {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.37rem 0.75rem;

    border: 1px solid var(--color-dark-300);
    border-radius: 0.125rem;

    p {
      color: var(--color-dark-300);
    }

    .disabledArrow {
      color: var(--color-dark-300);
      fill: var(--color-dark-300, #4c4c4c);
    }
  }

  .optionList {
    position: absolute;

    overflow: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    border: 1px solid var(--color-dark-100);
    border-top: none;
    border-radius: 0 0 0.125rem 0.125rem;
    outline: none;

    .list {
      .listItem {
        cursor: pointer;
        padding: 0.37rem 0.75rem;

        &:hover {
          color: var(--color-accent-300);
          background-color: var(--color-accent-900);
        }
      }

      .listItemDisabled {
        cursor: pointer;
        height: 2.25rem;
        padding: 0.37rem 0.75rem;
        color: var(--color-dark-100);
      }
    }
  }
}
