.packListBlock {
  width: 80rem;
  margin: 0 auto;
  padding-top: 2.06rem;

  .headBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .settingsBlock {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 2.25rem;

    .textField {
      width: 18.6875rem;
    }

    .titleSettings {
      margin-bottom: 0.31rem;
    }

    .switcher {
      width: 7.25rem;
    }
  }

  .icons {
    display: flex;
    gap: 0.62rem;
    justify-content: end;
  }
}
