.packListBlock {
  width: 80rem;
  margin: 0 auto;
  padding-top: 1.05rem;

  .backButton {
    margin-bottom: 2.06rem;
    padding: 0;
    color: var(--color-light-100);

    &:focus,
    &:active,
    &:hover {
      color: var(--color-light-100);
      outline: none;
    }
  }

  .title {
    margin-bottom: 4.31rem;
  }

  .description {
    margin-bottom: 1.88rem;
    color: var(--color-dark-100);
    text-align: center;
  }

  .addNewPackButton {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
}
