.createPasswordBlock {
  display: flex;
  flex-direction: column;

  width: 26.5rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem;

  .title {
    margin-bottom: 3.19rem;
    text-align: center;
  }

  .password {
    margin-bottom: 1.19rem;
  }

  .description {
    margin-bottom: 2.56rem;
    color: var(--color-light-900);
    opacity: 0.5;
  }

  .submit {
    padding: 0.375rem 0;
  }
}
