button {
  all: unset;
}

.radioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .itemGroup {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    .radioGroupItem {
      position: relative;

      width: 1rem;
      height: 1rem;

      border: 2px solid var(--color-accent-500);
      border-radius: 100%;

      &:disabled {
        border: 2px solid var(--color-accent-900);
      }

      &:not(:disabled):hover {
        &::before {
          content: '';

          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: calc(100% + 20px);
          height: calc(100% + 20px);

          background-color: var(--color-dark-500);
          border-radius: 50%;
        }
      }

      &:not(:disabled):focus {
        &::before {
          content: '';

          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: calc(100% + 20px);
          height: calc(100% + 20px);

          background-color: var(--color-dark-700);
          border-radius: 50%;
        }
      }

      &:not(:disabled):active {
        &::before {
          content: '';

          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: calc(100% + 20px);
          height: calc(100% + 20px);

          background-color: var(--color-accent-900);
          border-radius: 50%;
        }
      }

      .radioGroupIndicator {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        &::after {
          content: '';

          display: block;

          width: 0.5rem;
          height: 0.5rem;

          background-color: var(--color-accent-500);
          border-radius: 50%;
        }

        &:disabled {
          background-color: var(--color-accent-900);
        }
      }
    }

    .labelDisabled {
      p {
        color: var(--color-light-900);
      }
    }
  }
}
