.signBlock {
  display: flex;
  flex-direction: column;

  width: 26.5rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem;

  .title {
    margin-bottom: 1.69rem;
    text-align: center;
  }

  .email {
    margin-bottom: 1.5rem;
  }

  .password {
    margin-bottom: 0.75rem;
  }

  .forgotWrapper {
    display: flex;
    justify-content: right;
    margin-bottom: 4.12rem;

    & a {
      padding: 0.375rem 0;
    }
  }

  .forgotPassword {
    padding: 0;
    color: var(--color-light-100);

    &:focus,
    &:active,
    &:hover {
      color: var(--color-light-100);
      outline: none;
    }
  }

  .submit {
    padding: 0.375rem 0;
  }

  .question {
    margin-top: 1.25rem;
    margin-bottom: 0.69rem;
    color: var(--color-light-900);
    text-align: center;
  }

  .signUp {
    text-decoration: underline;
  }
}
