.cardBlock {
  width: 26.25rem;
  height: 34.5rem;

  background: var(--color-dark-700);
  border: 1px solid #313131;
  box-shadow: drop-shadow(-1px -1px 2px rgb(0 0 0 / 10%)) drop-shadow(1px 1px 2px rgb(0 0 0 / 10%));
}
