.forgotPasswordBlock {
  display: flex;
  flex-direction: column;
  width: 26.5rem;
  padding: 2.06rem 2.25rem;

  .title {
    margin-bottom: 1.69rem;
    text-align: center;
  }

  .email {
    margin-bottom: 1.19rem;
  }

  .description {
    margin-bottom: 4.06rem;
    color: var(--color-light-900);
    opacity: 0.5;
  }

  .submit {
    padding: 0.375rem 0;
  }

  .question {
    margin-top: 1.25rem;
    margin-bottom: 0.69rem;
    color: var(--color-light-900);
    text-align: center;
  }

  .signUp {
    padding: 0;
    text-decoration: underline;

    & p {
      color: var(--color-accent-500);
    }
  }
}
